# BANCO DE DADOS

# IMPORTAR MÓDULOS

In [ ]:
import sqlite3

import os

import io

from faker import Faker

# GERAR DADOS ALEATÓRIOS

In [ ]:
data = Faker()

# GERADOR DE NOME

In [ ]:
data.name()

# GERADOR DE TELEFONE

In [ ]:
data.phone_number()

# GERADOR DE DADOS

In [ ]:
data.profile()

In [ ]:
p = data.profile()

p['name']

# CRIAR UMA LISTA COM 99 PESSOAS

In [ ]:
lista = []

for _ in range(1, 100):
    linha = [data.name(), data.phone_number()]
    lista.append(linha)

# IMPRIMIR OS 10 PRIMEIROS

In [ ]:
lista[0:10]

# CRIANDO O BANCO DE DADOS

In [ ]:
conexao = sqlite3.connect('banco.db', 100 )
cursor = conexao.cursor()

# CRIANDO A TABELA

In [ ]:
cursor.execute("""
CREATE TABLE if not exists contatos (
        CODIGO INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        NOME TEXT,
        TELEFONE VARCHAR(50)
        );
""")

conexao.commit()

# LISTAR OS REGISTROS

In [ ]:
cursor.execute(""" select * from contatos """)

cursor.fetchall()[-10:]

# INCLUIR UM REGISTRO NA TABELA

In [ ]:
cursor.execute("""
INSERT INTO contatos (NOME, TELEFONE)
VALUES
('{0}', '{1}');

""".format(lista[0][0], lista[0][1]))

conexao.commit()

# PESQUISAR O REGISTRO INCLUIRDO

In [ ]:
cursor.execute(""" select * from contatos """)

cursor.fetchall()

# INCLUIR VÁRIOS REGISTROS  NA TABELA

In [ ]:
cursor.executemany("""
INSERT INTO contatos (NOME, TELEFONE)
VALUES
(?, ?)""", lista[1:])

conexao.commit()

# PESQUISAR OS 10 PRIMEIROS REGISTROS INCLUIDOS

In [ ]:
cursor.execute("""SELECT * FROM contatos;""")
for linha in cursor.fetchall()[0:10]:
    print(linha)

# PESQUISAR OS NOMES QUE COMENÇAM COM P

In [ ]:
cursor.execute("""SELECT * FROM contatos WHERE nome like 'P%';""")
for linha in cursor.fetchall()[0:10]:
    print(linha)

# UPDATE

In [ ]:
cursor.execute("SELECT codigo from contatos where nome like'P%'")

valores = cursor.fetchall()

for vl in valores:
    sql = """update contatos set telefone = null where codigo = {0}""".format(vl[0])
    
    cursor.execute(sql)
    print(sql)
    
conexao.commit()

In [ ]:
cursor.execute("SELECT * from contatos where telefone is null")

cursor.fetchall()

# DELETE

In [ ]:
cursor.execute("SELECT codigo from contatos where telefone is null")

valores = cursor.fetchall()

for vl in valores:
    sql = '''delete from contatos where codigo = {0}'''.format(vl[0])
    cursor.execute(sql)
    
conexao.commit()

In [ ]:
cursor.execute("SELECT * from contatos where telefone is null")

cursor.fetchall()

# CRIANDO UM BACKUP

In [ ]:
with io.open('banco_backup.sql', 'w') as f:
    for linha in conexao.iterdump():
        f.write('%s\n' % linha)

# FINALIZANDO A CONEXÃO COM BANCO DE DADOS

In [ ]:
conexao.close()

# EXCLUIR O BANCO DE DADOS

In [ ]:
os.remove('banco.db')

# RESTAURANDO UM BACKUP

In [ ]:
conexao = sqlite3.connect('banco.db')
cursor = conexao.cursor()

f = io.open('banco_backup.sql', 'r')
sql = f.read()
cursor.executescript(sql)

In [ ]:
cursor.execute('''select * from contatos''')

cursor.fetchall()

# FINALIZANDO A CONEXÃO COM BANCO DE DADOS

In [ ]:
conexao.close()